<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<html>
<head>
	<f:section name="metadata">
		<meta name="apple-mobile-web-app-title" content="{pageTitle}">
	</f:section>
	<f:section name="stylesheets">
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/app.min.css', package: 'Raw.Site')}" media="all" />
	</f:section>
	<f:section name="headScripts">

	</f:section>
	<f:section name="backendStylesheets">
		<link rel="stylesheet" href="{f:uri.resource(path: 'Styles/backend.css', package: 'Raw.Site')}" media="all" />
	</f:section>
</head>
<body>
<f:section name="body">
	<header>
		{parts.menu -> f:format.raw()}
	</header>
	<main>
		{content.main -> f:format.raw()}
	</main>
	<footer>
		{footer -> f:format.raw()}
	</footer>
</f:section>
<f:section name="bodyScripts">

</f:section>
</body>
</html>
