@import "variables";
@import "../../../../../Packages/Libraries/twbs/bootstrap/scss/bootstrap";
@import "../../../../../Packages/Application/NeosRulez.Bootstrap/Resources/Private/Styles/override";
@import "../../../../../Packages/Libraries/twbs/bootstrap/scss/vendor/rfs";

@mixin transition($property) { transition: all $property; -webkit-transition: all $property; -moz-transition: all $property; }
@mixin scale($propertyScale) { -webkit-transform: scale($propertyScale); -moz-transform: scale($propertyScale); -ms-transform: scale($propertyScale); -o-transform: scale($propertyScale); transform: scale($propertyScale); }
@mixin underline($color) { text-decoration: none !important; border-bottom:1px solid $color; @include transition(0.2s);
    &:hover { border-bottom:1px solid transparent; text-decoration: none !important; }
}

::-webkit-scrollbar { width: 0.2rem; }
::-webkit-scrollbar-track { background-color: $dark; }
::-webkit-scrollbar-thumb { background: $primary;
    &:hover { background: $secondary; }
}

::-moz-selection {
    color: $white;
    background: $primary;
}

::selection {
    color: $white;
    background: $primary;
}

body { color:$dark; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
strong { }
h1, h2, h3, h4, h5, h6 { }

button, a, .btn, .form-control, .form-select {
    &:active, &:focus { outline: none !important; box-shadow: none !important; }
}

.img-fluid { width:100%; height:auto; }
.img-cover { width:100%; height:100%; object-fit: cover; }
.figure-img { max-width:100%; height:auto; }

.navbar-light {
    .navbar-brand {
        img { }
    }
    .navbar-nav {
        .nav-item {
            .nav-link {
                &.dropdown-toggle {
                    &:after { border:0 !important; font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078"; font-size:0.6rem; margin-left:0.5rem; }
                }
                &.active, &.current { }
            }
            &:hover {
                .nav-link { }
            }
        }
        .dropdown-menu { @include transition(0.2s);
            .dropdown-item { @include transition(0.2s);
                &:hover, &:active, &:focus, &.current { }
            }
        }
    }
}

.navbar-toggler { width:2rem; height:20px; position:relative; z-index:1025; border:0; background:0; outline:0;
    span { float:left; position:absolute; left:0; top:0; transform: rotate(0deg); width:100%; height:3px; background:$primary; margin-top:3px; margin-bottom:3px; @include transition(0.2s); border-radius: 5px;
        &:nth-child(1) { top:0; }
        &:nth-child(2) { top:6px; }
        &:nth-child(3) { top:12px; }
    }
    &:hover { cursor: pointer; }
    &[aria-expanded="true"] {
        span {
            &:nth-child(1) { display:none; }
            &:nth-child(2) { transform: rotate(45deg); top:6px; }
            &:nth-child(3) { transform: rotate(-45deg); top:6px; }
        }
    }
}


@media (max-width: 1200px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {

}

@media (max-width: 576px) {

}
