{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<div class="carousel-item">
    <div{attributes -> f:format.raw()}>
    <f:if condition="{image}">
        <f:then>
            <f:if condition="{link}">
                <f:then>
                    <neos:link.node node="{link}">
                        <f:render section="image" arguments="{_all}" />
                    </neos:link.node>
                </f:then>
                <f:else>
                    <f:render section="image" arguments="{_all}" />
                </f:else>
            </f:if>
        </f:then>
        <f:else>
            <f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
                <f:if condition="{node.context.workspace.name} != 'live'">
                    <img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="" alt="" class="neos-handle" />
                </f:if>
            </f:security.ifAccess>
        </f:else>
    </f:if>
    <f:if condition="{title}">
        <div class="carousel-caption d-none d-md-block">
            <h3>{title}</h3>
        </div>
    </f:if>
    </div>
</div>
<f:section name="image">
    <media:image image="{image}" class="d-none d-md-block" width="1920c" height="800c" allowCropping="TRUE" allowUpScaling="TRUE" alt="{f:if(condition: '{title}', then: '{title}')}" />
    <media:image image="{image}" class="d-md-none" width="600c" height="300c" allowCropping="TRUE" allowUpScaling="TRUE" alt="{f:if(condition: '{title}', then: '{title}')}" />
</f:section>